$font-family: "Roboto", sans-serif;

// Typography
$primary-text-color: #313145;
$secondary-text-color: #8e8e8e;

// Colors
$primary-color: #ffffff;
$border-color: #ebebeb;

// Shadows
$primary-shadow: 0px 1px 3px rgba(49, 49, 69, 0.25);

// Media queries
$extra-small-breakpoint: 320px;
$small-breakpoint: 672px;
$medium-breakpoint: 1024px;
$large-breakpoint: 1500px;
