.wrapper-app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 50px 1fr 50px;
  font-family: $font-family;

  header {
    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $border-color;

    h1 {
      padding-left: 19px;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: $primary-text-color;

      span {
        @media (prefers-reduced-motion: no-preference) {
          animation-name: rotate-animation;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          transform-origin: center;
          display: inline-block;
        }
      }
    }
  }

  main {
    grid-area: main;
  }

  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    grid-area: footer;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $primary-text-color;
    border-top: 1px solid $border-color;
  }

  @keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
